
/@CF
/@Community-Online-Tools
/@Namalsk Island
/@Namalsk Survival
/addons
/appcache
ban.txt
/battleye
/config
dayz.gproj
DayZServer_x64.exe
dayzsetting.xml
/docs
/dta
/keys
/logs
/mpmissions/hardcore.namalsk/storage_1
/Profilesfolder/BattlEye
/Profilesfolder/CommunityOnlineTools
Profilesfolder/crash_2024-11-26_11-25-31.log
/Profilesfolder/DataCache
*.ADM
*.RPT
/Profilesfolder/PermissionsFramework
*.log
/Profilesfolder/Users
/sakhal
/server_manager
*.dll
steam_appid.txt
whitelist.txt
/@MoonShining
/@Dabs Framework
/@DayZ-Expansion-Core
/@DayZ-Expansion-Quests
Profilesfolder/ExpansionMod/Quests/PersistentServerData.json
/Profilesfolder/ExpansionMod/Quests/PlayerData
/@CJ187-MoreMoney
/@DayZ-Expansion-Market
Profilesfolder/ExpansionMod/ATM/9NkEHz6d9rE5FS6GJzYsZwUyvnLljgi8Wi2Nu8qu9pY=.json
/quests rev
/@DayZ-Expansion-AI
Profilesfolder/ExpansionMod/Settings/AISettings.json
