
*.pbo
*.bisign
ban.txt
/battleye
dayz.gproj
DayZServer_x64.exe
dayzsetting.xml
docs/EULA.txt
docs/LegalNotices.txt
*.bin
*.bikey
*.ebo
server_manager/example_launch_params.txt
server_manager/example_mod_list.txt
server_manager/example_server_mod_list.txt
server_manager/readme.txt
server_manager/Server_manager.ps1
*.dll
steam_appid.txt
whitelist.txt
/@Namalsk Island
/@Namalsk Survival
*.vdf
/logs
/Profilesfolder/DataCache
*.ADM
/mpmissions/hardcore.namalsk/storage_1
*.RPT
*.log
/Profilesfolder/Users
